body {
  margin: 0;
  font-family: Arial;
  background: #eef2ff;
}

.box {
  background: white;
  width: 320px;
  margin: 80px auto;
  padding: 30px;
  border-radius: 10px;
}

.box input, .box select, .box button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.card {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}
